*.class
*.jar
*.war
*.ear
*.idea/
*iml
.vscode/
*.suo
.mvn/
mvnw
mvnw.cmd
*.log
/logs/
*.out
*.err
/test/output
screenshot/
allure-results/
reports/
*.html
chromedriver.log
selenium-server.log
/bin/
*.swp
/.m2/